body { 
    
    width:60%;
    border: 20px solid black;
    border-radius: 10px;
    margin-left: 20%;
    margin-top:100px;
    height: 600px;
    
}

.app {
    display: flex;

}

.users {
    width: 200px;
    padding:20px;
}

.content {
    flex-grow: 1;
    border: 10px solid black;
    height:600px;
    position: relative;
   
}

.msg-box{
    overflow: scroll;
    border:5px solid black;
    height:500px;
}

#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: absolute; 
    bottom: 11px; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 5rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
   
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    margin: 0.25rem; 
}

#form > button { 
    background: #333; 
    border: none; padding: 0 1rem; 
    margin: 0.25rem; border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li.notif { 
    padding: 0.1rem 1rem; 
    color: #666666 
}

#users { 
    list-style-type: none; 
    margin: 0; 
    padding: 1rem 0 0 0; 
}

#users > li { 
    padding: 0.2rem 0.5rem; 
}

@media only screen and (max-width: 960px) {
    body { 
    
        width:90%;
        border: 5px solid blue;
        margin-left: 5%;
        margin-top:100px;
        height: 600px;
        
    }

    .users {
        width: 100px;
    }
  }